# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Var
env/
.env
venv/
.venv
postgres_data/
.DS_Store
Thumbs.db

# Python - api/
api/venv/
api/.venv/
api/__pycache__/
api/**/__pycache__/
*.pyc

# Node - frontOri/
frontOri/node_modules/
frontOri/dist/
frontOri/build/
frontOri/.next/

# Nubesota


# archivos
crear_tablas.py
importar_curso.py

# Caché
__pycache__

#Personal
recordatorios.md
.ignore
